header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #B10D0D;
  width:1950px;
  opacity: 85%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #B10D0D;
  width:1950px;
  height: 150px;
  opacity: 85%;
}
  #contact-list {
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    color:black;
    font-size: 20px;
    display:block;
    position: relative;
    left: -20px;
  }
  .contact-listcontain {
    display: flex;
    justify-content: flex-end;
  }
  
.navbar {
  display: flex;
    list-style:none;
    flex-direction: row;
    justify-content: space-between;
    border: none;
  width: 500px;
  position: relative;
  left: -50px;
  font-weight: 490;

  }
  a {
    color: black;
    opacity: 85%;
    font-size: 20px;
    display: block;
    display: flex;
    position: relative;
    left: 20px;
  }
#logo{
width: 50px;
margin: 10px;
position: relative;
left: 20px;
}
h1 {
font-family: "Inknut Antiqua", serif;
font-weight: 450;
font-style: normal;
font-size: 96px;
text-align: left;
margin:20px;
position:relative;
top: 60px;
}
p {
  margin: 20px;
  position:relative;
  left: 10px;
  top: 60px;
  font-family: "Kosugi", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
.infoboxb {
display:flex;
  justify-content: center;
  align-items: baseline;
  width: 50px;
  height: 80px;
  background-color: #EFA8B8;
  opacity: 80%;
  font-family: "Esteban", serif;
  font-weight: 400;
  font-size: 45px;
  font-style: normal;
  position: relative;
  margin: 70px;
  top: 120px;
  z-index: 1;
}
.infobox1 {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 100px;
  background-color: #EFA8B8; opacity: 80%;
  color: black;
  font-family: "Kosugi", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  border: 5px solid black;
  margin: 10px;
  position: relative;
  left: -230px;
}
.row {
  display: flex;
  justify-content: center;
  align-self: baseline;
  position: relative;
  top: 120px;
  
}
#learnmore {
  margin: 50px;
  height: 50px;
  width: 200px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #DD0F0F;
  position:relative;
  top: 90px;
  left: 110px;
}
#learnmore:hover {
background-color: transparent;
}
.searchbar {
  display:flex;
  flex-wrap:nowrap;
  flex-direction: row;
  width: 200px;
  margin: 25px;
  border:black 10px;
  position: relative;
  left: -60px;
}
.search {
  display:flex;
  align-items: center;
  border: black 10px;
  width: 150px;
  background-color: #EFA8B8;
  color:white;
  border: 2px solid black;
}
#searchbutton {
  color: black;
}

.img {
  position:relative;
  left: 1310px;
  top: -695px;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  height: 650px;
}
  
body {
  background-color: #EFA8B8;
  background-image: url(https://i.imgur.com/IVBG1Ck.png);
  background-size: cover; 
}
.container {
  position: relative;
  left: -240px;
}
.container1 {
  position:relative;
  top:50px;
  left: 30px;
  background-color: black;
  opacity: 60%;
  width: 1840px;
  height: 600px;
  margin-bottom: -500px;
}
.container2 {
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color:#EFA8B8 ;
  color:black;
  position: relative;
  left: -68px;
}
text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  position: relative;
  top: 5px;
  left: 20px;
  color: black;
  
}
.bussinessidea {
  display:flex;
  align-content: center;
  justify-content: space-between;
  position: relative;
  top: -1150px;
  left: 550px;
  margin: 10px;
  margin-bottom: -520px;
}
.colorpalette {
  display:flex;
  align-content: center;
  justify-content: space-between;
  position: relative;
  top: -630px;
  left: 550px;
  margin: 10px;
  margin-bottom: -520px;
}
h3 {
  font-family: "Inknut Antiqua", serif;
  font-weight: 450;
  font-style: normal;
  font-size: 96px;
  text-align: center;
  margin:20px;
  position:relative;
  top: -1150px;
  left: -20px;
  
}
p2 {
  margin: 20px;
  position:relative;
  text-align: center;
  left: 465px;
  top: -1150px;
  font-family: "Kosugi", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  z-index: 1;
}
.container3 {
  height: 1140px;
  width: 1000px;
  position: relative;
  left:450px;
  justify-content: center;
  background-color: white;
  opacity: 75%;
}
